@import '../../../assets/styles/palette.scss';
@import '../../../assets/styles/extends.scss';

.CoinListItem{
  &.card{ //when we'll have more coins -> maybe will be listed as rows rather than card
    @extend %card;
    width: 30%;
    & > .sources{
      margin-top: 20px;
      & > .source{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        font-size: 0.8em;
        & > div{width: 33.3%; text-align: center;}
      }
    }
  }
}
